header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.8);
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid #e5e5e5;
  z-index: 1000;
  box-sizing: border-box;
  overflow-x: hidden;
}

.header-container {
  max-width: 1350px; 
  margin: 0 auto;
  padding: 24px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hlogo {
  font-size: clamp(20px, 2.5vw + 1rem, 36px);
  font-weight: 700;
  color: #ffffff;
  margin: 0;
}

nav {
  display: flex;
  gap: 30px;
  margin-top: 5px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: clamp(14px, 1.8vw + 0.8rem, 24px);
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #106919; /* Matches landing, skills, footer */
}
/* 
@media (max-width: 637px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 12px;
  }

  nav {
    margin-top: 16px;
    flex-wrap: wrap;
    gap: 12px;
  }

  .logo {
    font-size: clamp(18px, 2.5vw + 0.8rem, 28px);
  }

  nav a {
    font-size: clamp(13px, 1.8vw + 0.6rem, 20px);
  }
}



@media (max-width: 668px) {
  .header-container {
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 12px;
    margin-top: 20px;
  }

  nav {
    flex-wrap: wrap;
    gap: 12px;
    margin-right: 20px;
  }

  .logo {
    font-size: clamp(30px, 2.5vw + 0.8rem, 28px);
  }

  nav a {
    font-size: clamp(23px, 1.8vw + 0.6rem, 40px);
  }
} */


  @media (max-width: 550px) {
    header
    .header-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 12px;
    }

    nav {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      flex-wrap: wrap;
      gap: 12px;
    }

    .hlogo {
      font-size: clamp(18px, 2.5vw + 0.8rem, 28px);
    }

    nav a {
      font-size: clamp(15px, 1.8vw + 0.6rem, 20px);
    }
  }

  @media (max-width: 768px) {
    .header-container {
      flex-direction: row;
      align-items: flex-start;
      padding: 20px 12px;
      margin-top: 20px;
    }

    nav {
      flex-wrap: wrap;
      gap: 12px;
      margin-right: 15px;
    }

    .logo {
      font-size: clamp(24px, 2.5vw + 0.8rem, 28px);
    }

    nav a {
      font-size: clamp(18px, 1.8vw + 0.6rem, 30px);
    }
  }